php_flag display_errors on

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^tasks$  inicio.php [L]

RewriteRule ^tasks/page/(.+)$  inicio.php?page=$1 [L]

RewriteRule ^tasks/completed$ inicio.php?completed=Y [L]

RewriteRule ^tasks/incompleted$ inicio.php?completed=N [L]

RewriteRule ^tasks/(.+)$ inicio.php?taskid=$1 [L]

RewriteRule ^users$ users.php [L]

RewriteRule ^session$ sessions.php [L]
